<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="680ea247-f8c4-4365-89ec-186e0510fad2"
            Publisher="CN=Tuomas"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="66785808-03b8-492f-b489-2082ba3a7b78"
                    PhonePublisherId="7541533c-1a56-46b5-b6bb-53f1f333f9fd"/>

  <Properties>
    <DisplayName>Edumenu</DisplayName>
    <PublisherDisplayName>Tuomas</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="AGHost.exe"
                 EntryPoint="MainPage.xaml">
      <m3:VisualElements
          DisplayName="Edumenu"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="Edumenu"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>

      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>

    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

</Package>